html {
	font-size: 18px;
	line-height: 1.2;
	text-align: justify;

	background-color: #fbfbfc;
	padding: 0 10px;
}

body {
	margin: 0 auto;
	max-width: 1000px;
}

body > hr {
	clear: both;
}

/** Header **/

#address {
	float: left;
	text-align: left;
}

#contact {
	float: right;
	text-align: right;
}

#title {
	text-align: center;
}

#name {
	font-size: 120%;
	font-weight: bolder;
}
#surname {
	font-variant-caps: small-caps;
}


/** Main content **/

main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

main > .column {
	max-width: 450px;
	margin: 0 auto;
}

main > .column > section > h2 {
	font-variant-caps: small-caps;
	font-family: sans-serif;
	color: #33f;
	font-weight: lighter;

	margin-bottom: 0;
	margin-left: 1%;
}

main > .column > section > hr {
	margin-top: 0;
	color: blue;
}

main > .column > section > :nth-child(n+3) {
	margin-left: 5px;
	margin-right: 5px;
}


/** Named lists **/

dl {
	display: grid;
	grid-template-columns: max-content;
	grid-auto-columns: auto;
	grid-row-gap: 5px; /* FOr compatibility */
	row-gap: 5px;
}

dt {
	grid-column: 1;
	font-weight: bold;
}

dd {
	grid-column: 2;
}


/** Experience lists **/

.experiences {
	display: grid;
	grid-template-columns: 3fr 4fr;
	column-gap: 10px;
}

.experiences > :nth-child(3n+1) {
	grid-column: 1;
}

.experiences > :nth-child(3n+2) {
	grid-column: 2;
	text-align: right;
}

.experiences > :nth-child(3n+3) {
	grid-column: 1 / span 2;
	margin-top: 10px;
}

.experiences > h3 {
	margin: 0;
}
